body {
  background-color: #1A1A1A;
  color: #B3B3B3;
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
@media (min-width: 1200px) {
  body {
    padding-top: 50px;
  }
}
#newsTicker {
  width: 100%;
  background-color: #333333;
  height: 62px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#newsTicker #scrollingNewsTicker {
  padding: 10px 0px 0px 20px;
  font-size: 21px;
}
#newsTicker #scrollingNewsTicker li {
  list-style: none;
}
.blockedRegion {
  display: block;
  background-color: #000000;
  padding: 5px 5px 5px 10px;
  margin-bottom: 15px;
}
.priorityColorBox {
  display: inline-block;
  width: 10px;
  height: 10px;
}
.footer {
  text-align: center;
  font-size: 10px;
}
