@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="about">
    <p>Hi visitor,</p>
    <p>
        My name is Paul Mendoza and I created this site in 2013 for a developer contest OnTime was holding. You can find this site on GitHub.
        It is a 100% open source project. If you have any questions or want to use any of the code it is worth taking some time to look at.
        There is a nice object model in the source code for the OnTime APIs and a very nice TypeScript defintion file that I generated but
        didn't end up using. 
    </p>
    <p>
        Let me know if you have any questions. 
    </p>
    <p>
        Hope you find this useful<br/>
        Paul Mendoza
    </p>


</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    mendoza.paul@gmail.com
</section>
