@{
    
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Condition Board</h1>
                <h2>A powerful tool for tracking OnTime status</h2>
            </hgroup>
            <p>
                OnTime Condition Boards keeps you informed about the state of  your bugs, features, backlog and customer contacts all in one powerful and visually compelling tool. 
            </p>
        </div>
    </section>
}

<img src="@Url.Content(@"~\Content\Small_StatusBoard.png")" style="float: right;"/>   

<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Register</h5>
        Register with this website using a username and password or by using your existing Google account.
    </li>

    <li class="two">
        <h5>Authenticate With OnTime</h5>
        Authenticate your OnTime account with this website. (We don't ever see your OnTime password.)
    </li>
    <li class="three">
        <h5>Configure your visualizations</h5>
        Select from visualization options to create an exciting tracking tool.
    </li>
    <li class="four">
        <h5>View Your Status Board</h5>
        Go and view your status board that you've configured.
    </li>
</ol>
<h3>Frequent Questions</h3>
<h5>Can I disable Features/Defects from showing up instead of seeing both?</h5>
<p>Yes, there is a display setting to set if you want to only see features, defects or both.</p>

<h5>Why would I want to have a higher refresh interval?</h5>
<p>
    OnTime has an API request limit of 1000 API requests per day. They can raise this higher on request but by default it is 1000 so you want to make sure not to go over the request limit. 
</p>
<h5>I would like an extra setting that I don’t see. Can you add it?</h5>
<p>
    I, Paul Mendoza, the developer of this site, can probably make that happen. Email me at mendoza.paul@gmail.com and I’ll see what I can do to make that happen. The simpler the request the faster it will happen. Also, feel free to download the source code and add the feature yourself. It is very simple code. You can also submit your change to me through GitHub and I’ll incorporate it if it is good. 
</p>