@{
    
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>OnTime Status Board</h1>
                <h2>A powerful tool for tracking OnTime status</h2>
            </hgroup>
            <p>
                OnTime Status Boards keeps you informed about the state of  your bugs, features, backlog and customer contacts all in one powerful and visually compelling tool. 
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Register and link your OnTime account to this website.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Configure your visualizations</h5>
        Select from many different visualation options to create an exciting tracking tool.
    </li>
    <li class="three">
        <h5>Find Web Hosting</h5>
        Open the visualization page and hit F11 to go full screen. Be sure your computer's screensaver isn't turned on.
    </li>
</ol>
