@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/VisualizationThemes/Black/style.css" rel="stylesheet" />
<html>
    <head>
        <title>OnTime Status Board Visualization</title>
    </head>
    <body>
        <div id="statusBoard">
            Test
        </div>
    </body>
    
    @Scripts.Render("~/bundles/jquery", "~/bundles/Visual")

</html>